* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 40rem;
  padding: 1rem;
}

input {
  border-radius: 3px;
  border: 2px solid #5f9341;
  display: block;
  margin-bottom: 1.1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

input:focus {
  border-color: crimson;
}

button {
  background-color: #5f9341;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

button:active {
  background-color: crimson;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 2rem;
  row-gap: 0.2rem;
}

ul li a {
  color: #5f9341;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}

ul li a:active {
  color: crimson;
}
